img{
    height: 90px;
    border-radius: 50px;
}
body {
    background-color: #F9F7CF;
 }
 h1 {
    color: #30475E;
}
h3 {
    color: #30475E;
}
hr {
     border-style: none;
     border-top-style: dotted;
     border-color: #F2DCBB;
     border-width: 5px;
     width: 5%;
}
